$font: poppins;
$color: black;
$color2: white;
$sizeh: 3em;
$sizep: 1em;
$sizef : 0.6em;

// Mentions: 

// ---

// Styles:
*{
    margin: 0px;
    padding: 0px;
}

.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    font-weight: 600;
}

#collapsibleNavbar{    
    justify-content: end;
    align-items: end;
    font-family: $font;
    // border-top: 0.5px solid rgba(128, 128, 128, 0.358);
}

#logo{
    width: 25px;
    margin: 0px 0px 0px 5px;
    line-height: 40px;
}

#brand{
    margin: 0px;
    padding: 0px;
    justify-self: center;
    align-self: center;
    line-height: 40px;
    font-family: $font;
    font-weight: 800;
}

h1{
    margin: 50px 0px 50px 0px;
    text-align: center;
    font-family: $font;
    font-weight: 700;
    font-size: $sizeh;
}

h2{
    font-family: $font;

}

.bold{
    font-weight: 600;
}

#demo{
    margin: 20px 1px 0px 1px;
    border-radius: 50px;
}

.carousel-inner{
    border-radius: 10px;
}

p{
    font-size: $sizep;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: $font;
}

footer{
    padding: 5px;
    background-color: $color;
    color: $color2;
    text-align: center;
    font-family: $font;
    font-size: $sizef;
}